@{
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<div class="module">
    <div class="title">
        <h3>Where do I fit in?</h3>
        <h1>Strategies and tips</h1>
    </div>
    <div class="orange section">
        <div class="small_people clearfix">
            <div class="col-sm-4">
                <img src="~/Content/Images/small-person.jpg" alt="Person" />
            </div>
            <div class="col-sm-4">
                <img src="~/Content/Images/grey-cross.png" alt="Cross" />
            </div>
            <div class="col-sm-4 three_people">
                <div>
                    <img src="~/Content/Images/small-person.jpg" alt="Person" />
                    <img src="~/Content/Images/small-person.jpg" alt="Person" />
                    <img src="~/Content/Images/small-person.jpg" alt="Person" />
                </div>
            </div>
        </div>
        <h2>
            Don't be a dick!
        </h2>
        <h3>
            Remember your drinking can affect your friends.
        </h3>
    </div>
    <div class="light-orange section">
        <h2>Got any concerns?</h2>
        <h3>
            For general information about the effects of alcohol, visit the Alcohol Advisory Council
            website at <a href="http://www.alcohol.org.nz">www.alcohol.org.nz</a>.
        </h3>
        <h3>
            The Alcohol Helpline is a confidential information, advice, and referral service for
            people with questions about their own or someone else's drinking. Alcohol Helpline:
            0800 787 797
        </h3>
    </div>

    <div class="section">
        <h3>Check us out at <a href="https://www.facebook.com/theabcdlab/" target="_blank">ABCD labs</a></h3>
        <h3>Contact:</h3>
        <h3><a href="mailto:damian@psy.otago.ac.nz">damian@psy.otago.ac.nz</a></h3>
        <h3><a href="mailto:ben.riordan@postgrad.otago.ac.nz">ben.riordan@postgrad.otago.ac.nz</a></h3>
        <h3>Or check us out at:</h3>
        <h3><a href="https://www.facebook.com/theabcdlab/" target="_blank">https://www.facebook.com/theabcdlab/</a></h3>
    </div>

    <a href="@Url.Action("Complete", "Home")">Click to continue</a>
</div>
