@{
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<div class="module">
    <div class="title">
        <h3>Where do I fit in?</h3>
        <h1>Strategies and tips</h1>
    </div>
    <div class="section">
        <h2>Tips for a better night!</h2>
        <ul class="tips">
            <li>
                Eat before you start drinking and eat while you are drinking! Eating is not cheating.
                It will allow you to have energy to enjoy a night out.
            </li>
            <li>
                Alternate between alcoholic and non-alcoholic drinks. Drinking water keeps you hydrated
                and less likely to suffer a hangover.
            </li>
            <li>
                Drink slowly. Sometimes intoxication can hit you like a ton of bricks and (contrary to
                popular belief) the only thing that will help sober you up is time.
            </li>
            <li>
                Keep track of how many drinks you've had. Set a limit that works for you and keep it!
            </li>
        </ul>
    </div>

    <a href="@Url.Action("Module12")">Click to continue</a>
</div>