@{
    Layout = "~/Views/Shared/_ModuleLayout.cshtml";
}

<div class="module">
    <div class="title">
        <h3>Where do I fit in?</h3>
        <h1>Short term alcohol related consequences</h1>
    </div>

    <div class="light-orange section">
        <h2>
            Consequences and alcohol use
        </h2>
        <p>
            Alcohol increases risk of experiencing consequences. The more you drink during a drinking session,
            the more likely you are to experience a negative consequence related to your drinking. In fact,
            research suggests that with each additional drink, the expected number of consequences increases
            by around 130%.
        </p>
    </div>
    <a href="@Url.Action("Module9")">Click to continue</a>
</div>