<div class="survey">
    <h1 class="final-title">
        Thank you for taking part in this survey and for helping us to
        understand the wellbeing and interests of students at the University of Otago.
    </h1>
    <div class="col-xs-2"></div>
    <div class="col-xs-8 text-center">
        <h2>What happens next?</h2>
        <hr />
        <p>The online aspect of this study is done!</p>
        <p>If you decided to provide a mobile phone number, we will be in touch via text message during Orientation Week.</p>
        <hr />
    </div>
</div>