<div class="survey">
    <h1>
        University students’ alcohol interactive
    </h1>
    <div class="survey-content">
        <h2>
            Introduction
        </h2>
        <p>
            Thank you for showing an interest in this project. Please read this information sheet carefully before deciding whether
            or not to participate. If you decide to participate we thank you. If you decide not to take part there will be no
            disadvantage to you and we thank you for considering our request.
        </p>
        <h2>
            What is the aim of the project?
        </h2>
        <p>
            The first year at University as an important transition period associated with an increase in alcohol use and alcohol
            related harm. We intend to offer some information and feedback about your drinking before attempting to test the
            effectiveness of a text message based intervention to reduce alcohol use and alcohol related harm.
        </p>
        <h2>
            What type of participants are being sought?
        </h2>
        <p>
            We are seeking students who are willing to complete a brief survey and are willing to be contacted throughout the year 
            via text message. Text messages will be sent during Orientation Week and fortnightly throughout the academic year. 
            Participants who supply a mobile phone number and reply to the majority of the text messages and complete 3 short 
            surveys will be compensated $100 and will be reimbursed at the end of the academic year. You do not have to drink 
            alcohol to take part.
        </p>
        <h2>
            What will participants be asked to do?
        </h2>
        <p>
            Should you agree to take part in this project, you will be asked to complete a brief, 10 minute survey. You will 
            also be asked if you would like to participate in a longitudinal study, and if you accept, you will be asked to 
            provide a mobile phone number. Participation in this study will entail receiving text messages during Orientation 
            Week and during the academic year asking you to report your alcohol use from the previous three days. You will 
            also be asked to complete two 10 minute surveys, one after first semester and one after second semester. At the 
            end of this survey, you may be presented some information about your drinking compared to other students and 
            some tips for a better night. Please be aware that you do not have to drink alcohol to take part in this study 
            and you may decide not to take part in the project without any disadvantage to yourself of any kind.
        </p>
        <h2>What data or information will be collected and what use will be made of it?</h2>
        <p>
            We will be collecting personal information regarding your age, ethnicity, and alcohol use. The purpose of
            collecting this information is so that we are able to describe the overall characteristics of the population.
            We will also be collecting information about wellbeing including alcohol use during Orientation Week and
            throughout the academic year via text message in order to determine the effectiveness of the intervention.
        </p>
        <p>
            You will be identified by a study ID number, thus your identity will not be known to those conducting the study.
            Researchers Tamlin Conner, Damian Scarf, and Ben Riordan will have access to data stored with an assigned ID
            number only. The data will not be able to be linked back to you. At the end of the project any personal
            information will be destroyed immediately, except that, as required by the University of Otago’s research policy,
            any raw data on which the results of the research project depend will be retained in secure storage for at least
            five years.
        </p>
        <p>
            Group results of this project may be published and will be available in the University of Otago Library (Dunedin,
            New Zealand) but any data included will in no way be linked to any specific participant. You are most welcome to
            request a copy of the results following the end of your participation in the study and/or a copy of the results
            of the project should you wish.
        </p>
        <h2>Can participants change their mind and withdraw from the project?</h2>
        <p>
            You may withdraw from participation in the project at any time and without any disadvantage to yourself of any kind.
        </p>
        <h2>
            What if participants have any questions?
        </h2>
        <p>If you have any questions about our project, either now or in the future, please feel free to contact either:</p>
        <div class="clearfix">
            <div class="col-xs-4">
                <dl>
                    <dt>Benjamin Riordan</dt>
                    <dd>Department of Psychology</dd>
                    <dd>University number: 479 9427</dd>
                    <dd><a href="mailto:ben.riordan@postgrad.otago.ac.nz">ben.riordan@postgrad.otago.ac.nz</a></dd>
                </dl>
            </div>
            <div class="col-xs-4">
                <dl>
                    <dt>Tamlin Conner</dt>
                    <dd>Department of Psychology</dd>
                    <dd>University number: 479 7624</dd>
                    <dd><a href="mailto:tconner@psy.otago.ac.nz">tconner@psy.otago.ac.nz</a></dd>
                </dl>
            </div>
            <div class="col-xs-4">
                <dl>
                    <dt>Damian Scarf</dt>
                    <dd>Department of Psychology</dd>
                    <dd>University number: 479 7636</dd>
                    <dd><a href="mailto:damian@psy.otago.ac.nz">damian@psy.otago.ac.nz</a></dd>
                </dl>
            </div>
        </div>
        <a class="next-link btn btn-primary btn-lg" href="@Url.Action("Consent")">Let's get started! <span class="glyphicon glyphicon-hand-right"></span></a>

        <small>
            This study has been approved by the University of Otago Human Ethics Committee #13/ 267.
            If you have any concerns about the ethical conduct of the research you may contact the
            Committee through the Human Ethics Committee Administrator (ph 03 479 8256 or email
            <a href="gary.witte@otago.ac.nz">gary.witte@otago.ac.nz</a>). Any issues you raise will
            be treated in confidence and investigated and you will be informed of the outcome.
        </small>
    </div>
</div>